/* Add additional stylesheets below
-------------------------------------------------- */
body
{
        background-image: url('/assets/images/background.jpg');
        background-position: 0px 100px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color:#000000;

}
h1
{
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
}
h2
{
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
}
h3
{
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color:white;
}
form
{
        width: 400px;
}
