<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
<style>
body
{
    background-image: url('/assets/images/background2.jpg');
    background-position: 0px 50px;
}
    #gameDiv
    {
        margin:auto;
        width:50%;
    }
    img
    {
        opacity:0;
    }
    h2
    {
       visibility: hidden;
    }
</style>

<div id="gameDiv">
        <h1>Poker Web App</h1>
        <h1>Current user: ${username}</h1>
        <h1>Winner: ${winner}</h1>

        <#list handlist as hand>
            <#assign x = 1>
                <#list hand.cards as card>
                    <img class="c${x}"  src="${folder}${card}.png" width="100px">
                    <#assign x = x + 1></#>
                </#list>
                <h2 class="tpye" >Type: ${hand.handType}</h2>
            </#>
        </#list>

        <a href="logout">Logout</a>
</div>
</@layout.myLayout>

<script>
        $( document ).ready(function()
        {
            $(".c1").animate({ opacity: 1 },1000).promise().done(function(){
                $(".c2").animate({ opacity: 1 },1000).promise().done(function(){
                    $(".c3").animate({ opacity: 1 },1000).promise().done(function(){
                        $(".c4").animate({ opacity: 1 },1000).promise().done(function(){
                            $(".c5").animate({ opacity: 1 },1000).promise().done(function(){
                                $("h2").css("visibility","visible");
                            });
                        });
                    });
                });
             });
        });
</script>