<#import "../layout/defaultLayout.ftl.html" as layout>
    <style>
        #headerinfo
        {
        font-size:24px;
        width:100%;
        }
        table {
        table-layout: fixed;
        width:10%;
        }
    </style>
<@layout.myLayout "Home page">
    <#list games as game>
        <div class="mainDiv">
        <table id="headerinfo" >
            <tbody>
            <tr>
                <td><strong>&nbsp;&nbsp;&nbsp;Name:</strong>${game.game_name}</td>
                <td><strong>Date:</strong>${game.date_time}</td>
                <td><strong>Game Winner:</strong>${game.winner_name.name}</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>
                <th>Player</th>
                <th>Cards</th>
                <th>Type</th>
                <th>Winner</th>
            </tr>
            </thead>
            <tbody>
            <#list gameusers as gameuser>
                <#if gameuser.game.id == game.id>
                    <tr>
                    <td>
                        ${gameuser.user.name}
                    </td>
                    <td>
                        <#list gameuser.hand?split(",") as card>
                            <img  src="assets/images/cards/${card}.png" width="50px">
                        </#list>
                    </td>
                    <td>
                        ${gameuser.type}
                    </td>
                    <td>
                        <#if gameuser.winner>
                            <img  src="assets/images/pokercoins.png" width="50px">
                            <#else>
                                <img  src="assets/images/sad_face.png" width="50px">
                        </#if>
                    </td>
                    </tr>
                </#if>
            </#list>
            </tbody>
            </table>
            </div>
        <br>
    </#list>
</@layout.myLayout>
<script>
    $( document ).ready(function()
    {
        $("#history").addClass("active");
    });
</script>