<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Home page">    
    <div class="mainDiv">
    <br>
    <form class="input_full" action="/login" method="post">
        User Name:<br>
        <input class="form-control" type="text" id="username" name="username">
        <br>
        Password:<br>
        <input class="form-control" type="password" name="password">
        <br>
        <input class="form-control" type="submit" value="Send" />
    </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="register">Register a new Account</a>
        <br>
        <br>
    </div>
</@layout.myLayout>
<script>
    $( document ).ready(function()
    {
        $("#index").addClass("active");
    });
</script>