<#if multiplayerGames??>
    <#assign x = 0>
    <#assign y = 0>
        <#list multiplayerGames as game>
            <br>
            <div class="mainDiv">
                <div id="headingDiv">
                    <br>
                    <table id="headerinfo" >
                        <tbody>
                        <tr>
                            <td><strong>&nbsp;&nbsp;&nbsp;Game Name:</strong>${game.game_name}</td>
                            <td><strong>&nbsp;&nbsp;&nbsp;Host:</strong>${hosts[x].name}</td>
                            <td> <a class="btn btn-default" href="joingame/${x}">Join Game</a> </td>
                            <#if username=hosts[x].name && (joinedUsers[x]?size > 0) ><td> <a class="btn btn-default" href="multiplayergame/${x}">Start Game!</a> </td></#if>
                            <#assign x = x + 1>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Join Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <#assign z = 0>
                        <#list joinedUsers[y] as joinedUser>
                            <tr>
                                <td>
                                    ${joinedUser.name}
                                </td>
                                <td>
                                    ${joinedDates[y][z]?datetime}
                                </td>
                            </tr>
                            <#assign z = z + 1>
                        </#list>
                    </tbody>
                </table>
                <#assign y = y + 1>
            </div>

        </#list>
        <br>
</#if>