<#import "../layout/defaultLayout.ftl.html" as layout>
    <style>
#headingdiv
        {
        background-color: rgba(50,50,50,0.65);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        }
    </style>
<@layout.myLayout "Home page">
    <div class="mainDiv">
       <h1>Host Game</h1>
        <form class="input_full" action="host" method="post">
        Game Name:<br>
        <input class="form-control" type="text" id="gamename" name="gamename">
        <br>
        <input class="form-control" type="submit" value="Send" />
        </form>
        <br>

    </div>
    <div id="content">
        <#include "../ApplicationController/lobbyUpdate.ftl.html">
    </div>
</@layout.myLayout>
<script>
    function update()
    {
        $.get("/lobbyUpdate",function(data,status){
             $("#content").html(data);
             update();
        });

    }
    $( document ).ready(function()
    {
        $("#chosetype").addClass("active");
        update();

    });
</script>