<#if multiplayerGames??>
    <#list multiplayerGames as game>
        <br>
        <div class="mainDiv">
            <div id="headingDiv">
                <br>
                <table id="headerinfo" >
                    <tbody>
                    <tr>
                        <td><strong>&nbsp;&nbsp;&nbsp;Game Name:</strong>${game.game_name}</td>
                        <td><strong>&nbsp;&nbsp;&nbsp;Host:</strong>${game.host_name.name}</td>
                        <td> <a class="btn btn-default" href="joingame/${game.id}">Join Game</a> </td>
                        <#if username=game.host_name.name && (game.gameUsers?size > 0) ><td> <a class="btn btn-default" href="multiplayergame/${game.id}">Start Game!</a> </td></#if>
                    </tr>
                    </tbody>
                </table>
                <hr>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Player</th>
                </tr>
                </thead>
                <tbody>
                    <#list game.gameUsers as joinedUser>
                        <tr>
                            <td>
                                ${joinedUser.user.name}
                            </td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>

    </#list>
    <br>
</#if>