<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">
    <div id="mainDiv">
    <h2>Welcome ${username}. Please select 5 other players to play with.</h2>
    <br>
    <form class="input_full" action="/game" method="post">
        <h2>Name of Game:</h2>
        <input class="form-control" type="text" id="gamename" name="gamename">
        <br>
        <h3>Player 2:</h3>
        <select id="u1"  name="u1" class="form-control">
            <#assign c = 0>
            <#list users as user>
                <#assign c = c + 1></#>
                <#if c == 1><option selected="selected" value=${user.name} >${user.name}</li></#if>
                <option value=${user.name} >${user.name}</li>
            </#list>
            </#>
        </select>

        <h3>Player 3:</h3>
        <select id="u2"  name="u2" class="form-control">
            <#assign c = 0>
                <#list users as user>
                    <#assign c = c + 1></#>
                        <#if c == 2><option selected="selected" value=${user.name} >${user.name}</li></#if>
                        <option value=${user.name} >${user.name}</li>
                </#list>
                </#>
        </select>

        <h3>Player 4:</h3>
        <select id="u3"  name="u3" class="form-control">
            <#assign c = 0>
                <#list users as user>
                    <#assign c = c + 1></#>
                        <#if c == 3><option selected="selected" value=${user.name} >${user.name}</li></#if>
                        <option value=${user.name} >${user.name}</li>
                </#list>
                </#>
        </select>

        <h3>Player 5:</h3>
        <select id="u4"  name="u4" class="form-control">
            <#assign c = 0>
                <#list users as user>
                    <#assign c = c + 1></#>
                        <#if c == 4><option selected="selected" value=${user.name} >${user.name}</li></#if>
                        <option value=${user.name} >${user.name}</li>
                </#list>
                </#>
        </select>

        <h3>Player 6:</h3>
        <select id="u5"  name="u5" class="form-control">
            <#assign c = 0>
                <#list users as user>
                    <#assign c = c + 1></#>
                        <#if c == 5><option selected="selected" value=${user.name} >${user.name}</li></#if>
                        <option value=${user.name} >${user.name}</li>
                </#list>
                </#>
        </select>
        <br>
        <input class="form-control" type="submit" value="Send" />
        <br>
    </form>
        </div>
</@layout.myLayout>